<div class="about-main">
    <div class="container">
        <div class="form-heading seesion-new-heading">Login</div>
        <div class="form">
           <div class="form-body">
                <%= form_with scope: :session, local: true do |f| %>
                    <%= f.label :email, 'メールアドレス' %>
                    <%= f.text_field :email, id: 'session_email' %>
                    <%= f.label :password, 'パスワード' %>
                    <%= f.password_field :password, id: 'session_password' %>
                    <%= f.submit 'Login', class: 'btn btn-primary' %>
                <% end %>
                    <%= link_to("新規登録", "/users/new", class: "seesion-new") %>
            </div>
        </div>
    </div>
</div>
