
<div class="col-md-11" style="padding-left:20px;padding-right:20px;">
	<% if @movie["original_language"] != "ja" %>
		<h1><%= @movie["title"] %></h1>
		<h2 class="center">原題：<%= @movie["original_title"] %></h2>
	<% else %>
		<h1><%= @movie["original_title"] %></h1>
	<% end %>

		<p><strong>上映日：</strong><%= @movie["release_date"] %></p>

		<% unless @movie["runtime"].blank? %>
			<p><strong>上映時間：</strong><%= @movie["runtime"] %>分</p>
		<% end %>

		<p>
			<strong>ジャンル：</strong>
			<% @movie["genres"].each do |genre| %>
				<% if genre == @movie["genres"].last %>
					<span><%= GENRES.key(genre["id"]) %></span>
				<% else %>
					<span><%= genre["name"] %>、</span>
				<% end %>
			<% end %>
		</p>

		<p>
			<strong>制作国：</strong>
			<% @movie["production_countries"].each do |country| %>
				<% if country == @movie["production_countries"].last %>
					<span><%= country["name"] %></span>
				<% else %>
					<span><%= country["name"] %>、</span>
				<% end %>
			<% end %>
		</p>

		<p>
			<strong>言語：</strong>
			<% @movie["spoken_languages"].each do |language| %>
				<% if language == @movie["spoken_languages"].last %>
					<span><%= language["name"] %></span>
				<% else %>
					<span><%= language["name"] %>、</span>
				<% end %>
			<% end %>
		</p>

		<p>
			<strong>ストーリ：</strong>
			<% if @movie["overview"].blank? %>
				<span>申し訳ございませんが、情報がありません。</span>
			<% else %>
				<span><%= @movie["overview"] %></span>
			<% end %>
		</p>

		<p><strong>キャスト：</strong></p>
		<div class="row" style="margin:0;">
			<% (0...@cast_range).each do |i| %>
				<% if @movie["credits"]["cast"][i]["character"].blank? %>
					<% break %>
				<% end %>
					<div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0">
						<div class="thumbnail">
								<% if @movie["credits"]["cast"][i]["profile_path"].nil? %>
									<%= image_tag("noimage.png", :alt => "default profile", size: "200") %>
								<% else %>
									<%= image_tag("https://image.tmdb.org/t/p/w200#{@movie["credits"]["cast"][i]["profile_path"]}",
																:class => "img-responsive", :alt => "profile") %>
								<% end %>
								<div class="caption">
									<strong><%= @movie["credits"]["cast"][i]["name"]%></strong>
									<br>
									<%= @movie["credits"]["cast"][i]["character"] %> 役<br>
								</div>
						</div>
					</div>
			<% end %>
		</div>

	<p><strong>スタッフ：</strong></p>
	<p>
	<% unless @directors.blank? %>
		<strong>監督：</strong>
		<% count = 0 %>
		<% @directors.each do |key, value| %>
			<%= key %>
			<% count += 1 %>
			<% unless count == @directors_count %> / <% end %>
		<% end %>
		<br>
	<% end %>
	<% unless @writers.blank? %>
		<strong>脚本：</strong>
		<% count = 0 %>
		<% @writers.each do |key, value| %>
			<%= key %>
			<% count += 1 %>
			<% unless count == @writers_count %> / <% end %>
		<% end %>
		<br>
	<% end %>
	<% unless @screenplay.blank? %>
		<strong>脚本：</strong>
		<% count = 0 %>
		<% @screenplay.each do |key, value| %>
			<%= key %>
			<% count += 1 %>
			<% unless count == @screenplay_count %> / <% end %>
		<% end %>
		<br>
	<% end %>
	<% unless @story.blank? %>
		<strong>原案：</strong>
		<% count = 0 %>
		<% @story.each do |key, value| %>
			<%= key %>
			<% count += 1 %>
			<% unless count == @story_count %> / <% end %>
		<% end %>
		<br>
	<% end %>
	<% unless @novel.blank? %>
		<strong>原作：</strong>
		<% count = 0 %>
		<% @novel.each do |key, value| %>
			<%= key %>
			<% count += 1 %>
			<% unless count == @novel_count %> / <% end %>
		<% end %>
		<br>
	<% end %>
	<% unless @music.blank? %>
		<strong>作曲：</strong>
		<% count = 0 %>
		<% @music.each do |key, value| %>
			<%= key %>
			<% count += 1 %>
			<% unless count == @music_count %> / <% end %>
		<% end %>
	<% end %>
	</p>

	<% unless @trailers.blank? %>
		<div class="trailers">
			<p><strong>予告動画：</strong></p>
			<div class="row">
				<% range = @trailers.count == 1 ? 0:1 %>

				<% @trailers[0..range].each do |t| %>
					<div class="col-md-6 col-sm-6">
						<% iframe = content_tag(:iframe, '', width: 300, height: 166,
																		src: "https://www.youtube.com/embed/#{t["key"]}",
																		frameborder: 0, allowfullscreen: true) %>
						<%= content_tag(:div, iframe, class: "youtube-container") %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

</div>