<div class = "cinema-index-item">
  <h2 class="center" style="margin-bottom:15px;color:#24140e;">上映中</h2>
  <hr style="margin-bottom: 25px;">
    <div class = "cinema_image">
    <% @movies[0..3].each do |m| %>
      
        <%= link_to "/movies/#{m["id"]}" do %>
          <%= image_tag "https://image.tmdb.org/t/p/w500#{m["backdrop_path"]}",
                        class: "img-responsive",
                        alt: "movie pic" %>
          <div class="caption">
            <p><%= m["title"] %></p>
          
        <% end %>
        </div>
      </div>
    <% end %>

 
    <% @movies[4..7].each do |m| %>
        <%= link_to "/movies/#{m["id"]}" do %>
          <%= image_tag "https://image.tmdb.org/t/p/w500#{m["backdrop_path"]}",
                        class: "img-responsive",
                        alt: "movie pic" %>
          <div class="caption">
            <p><%= m["title"] %></p>
          </div>
        <% end %>
    <% end %>

    <% @movies[8...12].each do |m| %>
        <%= link_to "/movies/#{m["id"]}", :target => "new" do %>
          <%= image_tag "https://image.tmdb.org/t/p/w500#{m["backdrop_path"]}",
                        class: "img-responsive",
                        alt: "movie pic" %>
          <div class="caption">
            <p><%= m["title"] %></p>
          </div>
        <% end %>
    <% end %>
</div>