<div class = "cinema-index-item">
  <h2 class="cinema-heading" >上映中</h2>
    <% @movies.each do |m| %>
    <div class = "cinema_image">
        <%= link_to "/cinema_pages/#{m["id"]}" do %>
          <%= image_tag "https://image.tmdb.org/t/p/w200#{m["poster_path"]}",
                        class: "img-responsive",
                        alt: "movie pic" %>
          <div class="caption">
          <p><%= m["title"] %></p>
        <% end %>
        </div>
        <div>
          <% if Cinema.find_by(movie_id: m["id"]) && WatchedCinema.find_by(cinema_id: Cinema.find_by(movie_id: m["id"]).id ) %>
            <%= link_to( "/watched_cinemas/#{m["id"]}/destroy", {method: :post, remote: true, class: "btn-circle-watched", title: "もう観た！"}) do %>
              <i class="material-icons pink">remove_red_eye</i>
              <%= WatchedCinema.where(cinema_id: Cinema.find_by(movie_id: m["id"]).id).count if Cinema.find_by(movie_id: m["id"]) %>
            <% end %>
          <% else %>
            <%= link_to("/watched_cinemas/#{m["id"]}/create", {method: :post, remote: true, class: "btn-circle-watching", title: "観たらクリック！"}) do %>
              <i class="material-icons red">remove_red_eye</i>
              <%= WatchedCinema.where(cinema_id: Cinema.find_by(movie_id: m["id"]).id).count if Cinema.find_by(movie_id: m["id"]) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>