<div class = "main">
  <div class="container">
    <% if @movie["original_language"] != "ja" %>
      <%= provide(:title, "#{@movie["title"]}") %>
    <% else %>
      <%= provide(:title, "#{@movie["original_title"]}") %>
    <% end %>
      <div class="cinema-show-content">
        <div class="cinema-left-content">
          <div class="cinema-image">
            <%= image_tag("https://image.tmdb.org/t/p/original#{@movie["poster_path"]}",
                          :class => "img-responsive", :alt => "poster") %>
              
          </div>
          <div>
            <%= link_to("/posts/#{@movie["id"]}/new", class: "btn-circle-3d") do %>
                    <i class="material-icons"> message </i>
            <% end %>
            <%if user_signed_in? %>
              <%= render 'cinema_pages/watched' %>
            <% end %>
          </div>
        </div>
        <div class="cinema-right-content">
          <%= render 'cinema_pages/movie_detail' %>
        </div>
      </div>
      <div class="cinema-post">
        <%= render 'cinema_pages/postnew' %>
      </div>
  </div>
</div>
