<% if @movie["original_language"] != "ja" %>
  <%= provide(:title, "#{@movie["title"]}") %>
<% else %>
  <%= provide(:title, "#{@movie["original_title"]}") %>
<% end %>

<div class="container-fluid movie-info">
  <div class="col-md-4" style="padding-left:20px;padding-right:20px;">
    <div class="poster">
      <%= image_tag("https://image.tmdb.org/t/p/original#{@movie["poster_path"]}",
                    :class => "img-responsive", :alt => "poster") %>
    </div>

    

    
    <% if !@movie_db.nil? && @movie_db.rec_num > 0 %> 
      <div class="recommend-data">
        <h5>おすすめ度：<%= Movie.get_score(@movie["id"]) %>%</h5>
        <p>この映画は<%= @movie_db.watched_num %>人が観ました</p>
        <p>この映画は<%= @movie_db.rec_num %>人がおすすめします</p>
      </div>
    <% end %>

  </div>

  <%= render 'cinema_pages/movie_detail' %>

</div>