<div class="form users-form">
    <div class="form-body">
        <% if user.errors.present? %>
            <ul id="error_explanation">
                <%= user.errors.full_messages.each do |msg| %>
                    <div class="form-error">
                        <li><%= msg %></li>
                    </div>
                <% end %>
            </ul>
        <% end %>

        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
            <%= f.label :name, '名前' %>
            <%= f.text_field :name  %>
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email %>
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password %>
            <%= f.submit '登録する', class: "btn btn-primary" %>
        <% end %>
    </div>
</div>