<div class="main">
    <div class="container">
        <div class = "form-heading user-new">パスワード変更</div>
            <div class="form users-form">
                <div class="form-body">
                     <%= form_with model: @user, url: setting_password_path, local: true do |f| %>
                         
                         
                         <div class="field">
                             <%= f.label :current_password, '現在のパスワード' %><br />
                             <%= f.password_field :current_password, autocomplete: "current-password" %>
                         </div>
                         
                        <div class="field">
                            <%= f.label :password, '新しいパスワード' %> <i>(変更にしない場合は空白のまま)</i><br />
                            <%= f.password_field :password, autocomplete: "new-password" %>
                            <% if @minimum_password_length %>
                                <br />
                                <em><%= @minimum_password_length %> 文字以上</em>
                            <% end %>
                        </div>
                      
                        <div class="field">
                          <%= f.label :password_confirmation,'パスワード確認' %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>
                        
                         <div>
                              <%= f.submit "更新" %>
                         </div>
                      
                     <% end %>
                </div>
            </div>
        </div>
    </div>
</div>