<div class="main user-show">
    <div class = "container">
        <div class="user">
           <h1>ユーザ名: <%= @user.name %></h1>
           <% if current_user && @user.id == current_user.id  %>
               <div class="square-content">
                   <%= link_to("編集", edit_user_registration_path , class: "square-btn") %>
               </div>
           <% end %>
           <% @posts.each do |post| %>
              <% cinema = Cinema.find(post.cinema_id) %>
            <div class="post-index-item">
                <div>
                    <%= link_to("/posts/#{cinema.id}") do %>
                        <%= image_tag cinema.image, :width => '120px', :height => '170px'  %>
                    <% end %>
                    <%= post.content %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
</div>