<div class="main user-show">
    <div class = "container">
        <div class="user">
           <h1>User Name: <%= @user.name %>
               <% if current_user.admin %>
                   @管理者
               <% end %>
           </h1>
           <% if @user.id == current_user.id || current_user.admin? %>
               <%= link_to("編集", "/users/#{@user.id}/edit") %>
               <%= link_to("削除", "/users/#{@user.id}/destroy") if current_user.admin? %>
           <% end %>
           <% @posts.each do |post| %>
              <% cinema = Cinema.find(post.cinema_id) %>
            <div class="post-index-item">
                <div>
                    <%= link_to("/post/#{cinema.id}") do %>
                        <%= image_tag cinema.image, :width => '120px', :height => '170px'  %>
                    <% end %>
                    <%= post.content %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
</div>