<header>
      <div class="header-logo">
        <%= link_to("CinemaLog", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to(User.find(current_user.id).name, "/users/#{current_user.id}") if current_user %>
        </li>
        <li>
          <%= link_to("映画一覧", root_path) %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to("ユーザ一覧", "/users") %>
          </li>
          <li>
            <%= link_to("Logout", "/logout", method: :post) %>
          </li>
        <% else %>
         <li>
            <%= link_to("Login", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>