<header>
      <div class="header-logo">
        <%= link_to("CinemaLog", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("User", "#") %>
        </li>
        <li>
          <%= link_to("Cienema Logとは", "#") %>
        </li>
        <li>
          <%= link_to("映画一覧", root_path) %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to("Logout", "/logout", method: :post) %>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to("ユーザ一覧", admin_users_path) %>
            </li>
          <% end %>
        <% else %>
         <li>
            <%= link_to("Login", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>