<div class="main">
  <div class = "container">
  <div class = "form-heading user-new">Edit <%= resource_name.to_s.humanize %></div>
    <div class="form users-form">
        <div class="form-body">
  
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class = "field">
      <%= f.label :image, 'アイコンを変更する' %><br />
      <%= f.file_field :image, autofocus: true,  autocomplete: "image"%>
    </div>
    
    <div class = "field">
      <%= f.label :name, '名前' %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="field">
       <%= f.label :current_password, '現在のパスワード' %><br />
       <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
   
    <div class="field">
      <%= f.label :password, '新しいパスワード' %> <i>(変更にしない場合は空白のまま)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation,'パスワード確認' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    
    <div>
      <%= f.submit "更新" %>
    </div>
  <% end %>
  

    <div class="user-destroy">
      <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会してもいいですか？" }, method: :delete %>
    </div>
    
      <p><%= link_to "Back", :back %></p>
      </div>
    </div>
  </div>
</div>
